<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/MBR_WAREHOUSE</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">Lucifer666</property>
    <mapping resource="com/belili/pojo/Administrator.hbm.xml"/>
    <mapping resource="com/belili/pojo/User.hbm.xml"/>
    <mapping resource="com/belili/pojo/Product.hbm.xml"/>
    <mapping resource="com/belili/pojo/Provider.hbm.xml"/>
    <mapping resource="com/belili/pojo/Warehouse.hbm.xml"/>
    <mapping resource="com/belili/pojo/Customer.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
